.DS_Store
prepros.cfg
Thumbs.db
js/materialize.js
test2.html
test.html
test2.html
node_modules/
.sass-cache/
bin/jquery-2.1.1.min.js
/.idea/
**/*.log
bower_components
.projectile
**/#*#
**/.#*
.grunt/
docs/animation.html
docs/buttons.html
docs/cards.html
docs/carousel.html
docs/character_counter.html
docs/chips.html
docs/collapsible.html
docs/docco.css
docs/dropdown.html
docs/forms.html
docs/global.html
docs/hammer.min.html
docs/init.html
docs/initial.html
docs/jquery.easing.1.3.html
docs/jquery.hammer.html
docs/jquery.timeago.min.html
docs/leanModal.html
docs/materialbox.html
docs/parallax.html
docs/prism.html
docs/pushpin.html
docs/scrollFire.html
docs/scrollspy.html
docs/sideNav.html
docs/slider.html
docs/tabs.html
docs/toasts.html
docs/tooltip.html
docs/transitions.html
docs/velocity.min.html
docs/waves.html
docs/public/fonts/aller-bold.eot
docs/public/fonts/aller-bold.ttf
docs/public/fonts/aller-bold.woff
docs/public/fonts/aller-light.eot
docs/public/fonts/aller-light.ttf
docs/public/fonts/aller-light.woff
docs/public/fonts/roboto-black.eot
docs/public/fonts/roboto-black.ttf
docs/public/fonts/roboto-black.woff
docs/public/stylesheets/normalize.css
